body{
    padding: 0
    ;
    margin: 0;
  background-image: url("https://iadsb.tmgrup.com.tr/3cbfb5/1200/627/0/155/1215/789?u=https://idsb.tmgrup.com.tr/2019/04/14/superstitions-busted-hanging-a-horseshoe-for-good-luck-1555269923390.jpg"); alt: "horse shoe back ground image";
    
    
    background-color: rgb(17, 16, 16);
    




}

 #game {
    width: 600px;
    height: 600px;
    border: 8px solid orange;
    margin: auto;
    overflow: hidden;
    background-color: #1D4F06;
}






#character  {
    width: 20px;
    height: 20px;
    background-color: 	#5C4033;
    border-radius: 50px;
    position: relative;
    top: 440px;
    left: 250px;
    z-index: 1000000;

}


.block{
    width: 600px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 20px;
    height: 20px;
    background-color: #1D4F06;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

